//
   Created by haebor on 24.08.2014.

extends layout

block content
    script(src="javascripts/raphael-2.1.0-min.js")
    script(src="javascripts/qrcodesvg.js")
    script(src="javascripts/encodedecode.js")

    h1= 'Add serial number'

    form(onsubmit='return process();')
        input#serial(type='text', placeholder='Serial Number', name='serial')
        input(type='submit', value='value')
    button(onclick='reverse();')
    script.
        function isEuroCharacter (char)
        {
          return !!/[A-Z]/.exec(char[0]);
        }

        function shortenSerial(serial)
        {
            var value = serial.value;
            var firstChar = value.charAt(0);
            if((value.length != 12) || (!isEuroCharacter(firstChar)))
            {
                return 'Wrong format for Euro note serial number';
            }
            var bla = value.substring(2, 12);
            var decimalNumPart = parseInt(bla);
            var base36Part = parseBase36(value.charAt(1));
            var base26Part = parseBase26(value.charAt(0));
            var asDecimal = base26Part * 36 * Math.pow(10, 10) + base36Part * Math.pow(10, 10) + decimalNumPart;
            var result = base10toBase62(asDecimal);
            return result;
        }

        function process()
        {
            var result = document.getElementById("result");
            var serial = document.getElementById('serial');
            var shortSerial = shortenSerial(serial);
            result.innerHTML = shortSerial;
            var target = 'qrcode';
            createQRCode('obtr.cc/' + shortSerial, target);
            return false;
        }

        function createQRCode(code, target)
        {
            var dummy = document.getElementById(target).innerHTML = '';
            var qrCodeSVG = new Qrcodesvg(code, target, 250);
            qrCodeSVG.draw();
        }

        function reverse()
        {
            var result = document.getElementById('reversed');
            var input = document.getElementById('result').textContent;
            result.innerHTML = base62ToSerial(input);
        }
    p.
      Shortened:
    dev#result
    p.
      Reversed:
    dev#reversed
    p.
      QR-Code
    div#qrcode